.App {
  font-family: arial;
}

.film-box {
  width: 345px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 10px;
}

.separator {
  width: 325px;
  margin: 10px;
}

.film {
  margin: 20px;
}

.upcoming {
  background-color: lightblue;
  color: darkblue;
  height: 40px;
  width: 313px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  padding-top: 20px;
  margin: 10px;
  margin-top: 0px;
}

h3 {
  margin: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}
